@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #295D09;
  --secondary: #69AB3D;
  --tertiary: #AED36C;
  --quaternary: #E9EBED;

  --red: #F7404E;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Lexend;
    background-color: var(--tertiary);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
