.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    
    font-family: Lexend;
    font-size: 20px;

    background-color: var(--quaternary);
}

.answer:active {
    background-color: var(--quaternary);
    cursor: pointer;
}

.answer:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.bet {
    width: 600px;
    height: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 24px;
    gap:10px;
}

.button {
    width: 600px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button button{
    padding: 16px 32px;

    border: none;
    border-radius: 16px;
    box-shadow: 0 9px var(--primary);

    font-family: Lexend;
    font-size: 16px;
    color: var(--primary);
    
    background-color: var(--secondary);
}

.button button:hover{
    cursor: pointer;
    color: var(--tertiary);
}

.button button:active{
    box-shadow: 0 5px var(--primary);
    transform: translateY(4px);
}

.number {
    width: 80px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 40px;
    
    font-family: Lexend;
    font-size: 38px;

    background-color: var(--quaternary);
}

.question {
    width: 600px;
    height: 90px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 24px;
    gap:30px;
}

.questionAnswer {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 24px;

    gap:10px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        height: 100vh;
  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bet {
        width: 100%;
        height: auto;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    
        margin-bottom: 24px;
    }

    .number {
        margin-right: 8px;
        margin-bottom: 8px;
    }

    .question {
        width: 90%;
        margin-bottom: 48px;
    }

    .questionAnswer {
        width: 100%;
        flex-wrap: wrap;
    }
}